<section id="about" data-stellar-background-ratio="0.5">
	<div class="bottom-flex">
		<div class="title-flex">
			<div class="title">
				<h1>In today's world we are so fixated on technology that we forget what nature really has to offer us.</h1>
			</div>
			<div class="lead">
				<p>We can help you rediscover how amazing the great outdoors really is.  One amazing trip could change your entire outlook on life.</p>
			</div>
			<div class="title-btn">
				<a href="#"><span>How We Work</span></a>
			</div>
		</div>
	</div>
</section>