<div id="footer">
	<h1>What are you waiting for? Let's Get Started</h1>
	<a href=""><span>Plan Your Tour Today</span></a>
	<h1>888-888-888</h1>
	<div class="footer-nav">
		<ul>
			<a href="#about">
				<li>About</li>
			</a>
			<a href="#tours">
				<li>Tours</li>
			</a>
		</ul>
		<a href="#home">
			<div class="footer-logo"></div>
		</a>
		<ul>
			<a href="#gallery">
				<li>Gallery</li>
			</a>
			<a href="#contact">
				<li>Contact</li>
			</a>
		</ul>
	</div>
	<p class="copyright">All Rights Reserved.  Derrick Johnson 2015.</p>
</div>