<section id="gallery" data-stellar-background-ratio="0.5">
	<div class="bottom-flex">
		<div class="title-flex">
			<div class="title">
				<h1>Don't take our word for it.  Take a look at other people who took the plunge into the great outdoors.</h1>
			</div>
			<div class="lead">
				<p>Thousands of other people just like you have experienced just how amazing it is to have interactions with our expert tour guides while enjoying the company of family and friends.</p>
			</div>
			<div class="title-btn">
				<a href="#"><span>Gallery</span></a>
			</div>
		</div>
	</div>
</section>