<section id="header" data-stellar-background-ratio="0.5">
		<div class="top-flex">
			<div class="logo"></div>
			<div class="nav">
				<ul>
					<a href="#home"><li>Home</li></a>
					<a href="#about"><li>About</li></a>
					<a href="#tours"><li>Tours</li></a>
					<a href="#gallery"><li>Gallery</li></a>
					<a href="#contact"><li>Contact</li></a>
					<a href="#"><li class="nav-btn"><span>Book A Tour</span></li>
				</ul>
			</div>
		</div>
		<div class="title-wrap">
			<div class="bottom-flex">
				<div class="title-flex">
					<div class="title">
						<h1>book hiking and sight seeing tours to hundreds of mountain regions all over the world.</h1>
					</div>
					<div class="lead">
						<p>The Greatest Beauty on Earth, is Nature itself.</p>
					</div>
					<div class="title-btn">
						<a href="#"><span>View Our Destinations</span></a>
					</div>
				</div>
			</div>
		</div>
</section>